<footer class="footer">
  <small>
    This website is created by <a href="https://www.linkedin.com/in/rupindermonga/">Rupinder Monga</a>
  </small>
  <nav>
    <ul>
      <li><%= Time.now.strftime("%m/%d/%Y") %></li>
      <li><%= Time.now.strftime("%H:%M:%S") %></li>
    </ul>
  </nav>
</footer>