<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Work Smarter", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
                <li><font size = "6" color = "white">Hello, <%= current_user.username %>!</font></li>
                <li><%= link_to "Log Out", :logout %></li>
            <% else %>
                <li><%= link_to 'Log In', :login %>          
            <% end %>
      </ul>
    </nav>
  </div>
</header>